.clickable-row {
    cursor: pointer !important;
  }
  .custom-swal-button {
    background-color: #C8A84E !important; /* Example color */
    color: white; /* Text color */
  }
  .swal-wide{
    width:auto !important;
}

.dark-mode {
  background-color: #1C1C1C !important;
  color: white !important;
}

/* Dark mode */
.custom-input{
  background-color: #fff !important; /* Dark gray */
  color: #000 !important; /* White */}

