.clickable-row {
    cursor: pointer !important;
  }
  .custom-swal-button {
    background-color: #FED001 !important; /* Example color */
    color: white; /* Text color */
  }
  .swal-wide{
    width:auto !important;
}

.dark-mode {
  background-color: var(--ec-bg) !important;
  color: white !important;
}

/* Dark mode */
.custom-input{
  background-color: var(--ec-bg-input) !important; /* Dark gray */
  color: var(--ec-text) !important; /* White */}

